{% extends "app/principal.html" %}
{% load bootstrap_icons %}
{% block title %} hogar {% endblock %}
{% block content %}
<br>
<h1>Hogar</h1>
<div class="container pt-4">

  <div class="card text-center">
    <div class="card-header" style="background: #66339940;">
    Titulo de Nota
    </div>
    <div class="card-body" style="display: flex; justify-content: space-evenly;">
      <div class="ratio ratio-21x9" style="width: 57% !important;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/W1yYq3hJU0A"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>

      </div>

      <!--<button type="button" class="btn btn-default">
      <svg class="bi" width="24" height="24">{% bs_icon 'star' %}</svg> Favotiros
    </button>-->
    </div>
    <div class="card-footer text-body-secondary">
      Fecha limite para la metas
      <input type="date" name="" id="">
      <button type="button" class="btn btn-default">
        <svg class="bi" width="24" height="24">{% bs_icon 'trash2-fill' %}</svg> Eliminar
      </button>

    </div>
  </div>

</div>

{% endblock %}