{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href='{% static "css/mdb.min.css" %}'>
  <script src='{% static "js/mdb.min.js" %}'></script>
  {% load pwa %}
  {% load bootstrap_icons %}
  {% progressive_web_app_meta %}
</head>

<body>
  <header>

    <nav class="navbar navbar-expand-lg bg-body-tertiary"
      style="--mdb-navbar-box-shadow:none;     font-family: var(--bs-body-font-family);  --mdb-navbar-padding-top: 0.4rem;">
      <div class="container-fluid">
        <a class="navbar-brand" style="border-bottom: 3px solid rebeccapurple; border-radius: 1px;"
          href="{% url 'index' %}">OnNotes</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- <li class="nav-item">
              <a class="nav-link " aria-current="page" href="#">Ajustes</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'comida' %}">Registro</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Sobre nosotros
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Empresa</a></li>
                <li><a class="dropdown-item" href="#">Direccion</a></li>
                <li><a class="dropdown-item" href="#">Contactos</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#"></a></li>
              </ul>
            </li>
            <!--<li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                  </li>-->
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <section class="section1">
    <div style="margin: 1% 5% 4% 5%">
      <!-- Pills navs -->
      <ul class="nav nav-pills mb-3" id="ex1" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="ex1-tab-1" data-mdb-toggle="pill" href="#ex1-pills-1" role="tab"
            aria-controls="ex1-pills-1" aria-selected="true">Datos &nbsp; {% bs_icon 'person-lines-fill' %}</a>
        </li>

      </ul>
      <!-- Pills navs -->
      <div class="tab-content" id="ex1-content">
        <div class="tab-pane fade show active" id="ex1-pills-1" role="tabpanel" aria-labelledby="ex1-tab-1">
          <form class="row g-3 needs-validation" method="POST">
            {% csrf_token %}
            <div class="col-md-4">
              <label for="validationCustomUsername" class="form-label">Nombre(S)</label>
              <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend"
                required name="nombre">
              <div class="invalid-feedback">
                Please choose a username.
              </div>
            </div>
            <div class="col-md-4">
              <label for="validationCustom02" class="form-label">Apellido(S)</label>
              <input type="text" class="form-control" id="validationCustom02" required name="apellido">
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="col-md-4">
              <label for="validationCustom" class="form-label">Correo</label>
              <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend">@</span>
                <input type="text" class="form-control" id="validationCustom01" name="email" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              {% if form.errors %}
              <ul>
                {% for field in form %}
                {% for error in field.errors %}
                <li style="color: red;">{{ error }}</li>
                {% endfor %}
                {% endfor %}
              </ul>
              {% endif %}
            </div>
            <div class="col-md-6">
              <label for="validationCustom04" class="form-label">State</label>
              <select class="form-select" id="validationCustom04" required name="city">
                <option selected disabled value="">Choose...</option>
                <option>Puebla</option>
                <option>Aguscalientes</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid state.
              </div>
            </div>

            <div class="col-12">
              <label for="validationCustom05" class="form-label">Password</label>
              <input type="password" class="form-control" id="validationCustom06" name="password" required>
              <div class="invalid-feedback">
                Please provide a valid Password.
              </div>
            </div>
            <div class="col-12">
              <label for="validationCustom05" class="form-label">confirma el Password</label>
              <input type="password" class="form-control" name="password2" id="validationCustom07" required>
              <div class="invalid-feedback">
                Please provide a valid Password.
              </div>
            </div>
            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">
                  Agree to terms and conditions
                </label>
                <div class="invalid-feedback">
                  You must agree before submitting.
                </div>
              </div>
            </div>

            <div class="col-12">
              <button class="btn btn-primary" type="submit">Guardar</button>
            </div>
          </form>
         
        </div>
      </div>
      <!-- Pills content -->
      <!-- Register buttons
      <div class="text-center">
        <p>or sign up with:</p>
        <button type="button" class="btn btn-secondary btn-floating mx-1">
          {% bs_icon 'facebook' %}
        </button>

        <button type="button" class="btn btn-secondary btn-floating mx-1">
          {% bs_icon 'google' %}
        </button>

        <button type="button" class="btn btn-secondary btn-floating mx-1">
          {% bs_icon 'twitter' %}
        </button>
      </div> -->
    </div>

  </section>


</html>